SERVER=Fundedelite-Server
MASTER_ID=b
COPY_ACCOUNTS=[{"id":"a","login":127241,"password":"fakepassword1","server":"Fundedelite-Server","apply_sl":false,"apply_tp":false,"lot_ratio":1,"mode":"hedge"}]
LOGIN=127214
PASSWORD=fakepassword2